/* 
    Document   : default
    Created on : 2011-sep-27, 14:13:22
    Author     : Jonas
    Description:
        Purpose of the stylesheet follows.

*/

root { 
    display: block;
}

#container{
    position:relative;
    font-size:14px;
    width: 50em;
    height:67em;
    margin: 0px auto;
    background-color:green;  
}



#header{
    position: relative;
    height: 7em;   
}

#mainmenu{
    z-index:1;
    background-color:red;
    width:7em;
    height:50em;
    float:left;
    position:relative;
}

#center{
    position:relative;
    width:50em;
    height:50em;
}

#main:hover{
    background-color:yellow;
    
}
#main{
    float:right;
    background-color:blueviolet;
    text-align:center;    
    position:relative;
    width:43em;
    height:50em;
    color: brown;
   
}
#loggedInUser{
    height:7em;
    position:relative;
    z-index:1;
    float:right;
    background: url(images/100px-Face-smile.svg) center no-repeat;   
}

#footer{
    height:10em;
    position: relative;
}
#footer:hover{
    background-color:gray;
}
li{
    display:block;     
}

#li1{
    float:left;    
    position: relative;
    left: 2em; 
    top: 2em; 
}

#li2{
    float:left;    
    position: relative;
    left: 10em;
    top: 2em; 
}

#li3{
    float:left;    
    position: relative;
    left: 18em;
    top: 2em; 
}
