/* 
    Document   : default
    Created on : 2011-sep-27, 14:13:22
    Author     : Jonas
    Description:
        Purpose of the stylesheet follows.

*/

root { 
    display: block;
}

#container{
    position:relative;
    font-size:14px;
    width: 50em;
    height:67em;
    margin: 0px auto;
    
}
#header{
    position: relative;
    height: 7em;   
}
#mainmenu{
    
    background-color:darkgray;
    width:7em;
    height:50em;
    float:left;
    position:absolute;
}
#center{
    position:relative;
    width:50em;
    height:50em;
}
#main{
    float:right;
    background-color:lightgray;
    text-align:center;    
    position:relative;
    width:43em;
    height:50em;
    color: brown;
}

#loggedInUser{
    height:7em;
    position:relative;
    z-index:1;
    float:right;
    background: url(images/100px-Face-smile.svg) center no-repeat;   
}

#footer{
    background-color:lightgray;
    height:10em;
    position: relative;
    top:-1em;
}
#footer:hover{
    background-color:gray;
}
    

#banner{
    height:5em;
    color:white;
    vertical-align:top; 
    
    background: url(images/610px-tux-g2-svg-svg.png);   
}
#topleft{
    height:7em;
    position:relative;
    float:left;
}
#menubar{
    margin-top:-1em;
    height:2em;
}
.lavaLampNoImage {

    position: relative;
    height: 2em;
    width: 35em;
    background-color: white;
    overflow: hidden;
top:0em;
}
.lavaLampNoImage li {
    float: left;
    list-style: none;
}
.lavaLampNoImage li.back {
    border: 1px solid #000;
    background-color: #e6e8ea;
    width: 9px;
    height: 2em;
    z-index: 8;
    position: absolute;
}
.lavaLampNoImage li a {
    font: bold 14px arial;
    text-decoration: none;
    color: #000;
    outline: none;
    text-align: center;
    top: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0;
    z-index: 10;
    display: block;
    float: left;
    height: 2em;
    position: relative;
    overflow: hidden;
    margin: auto 10px;
    
}
.lavaLampNoImage li a:hover, .lavaLampNoImage li a:active, .lavaLampNoImage li a:visited {
    border: none;
    background-color:red;
}                    